{{ render "header.html" . }}

<div class="buckets">
	<form action="{{ .form_action }}" method="POST" enctype="multipart/form-data" class="tag-filter-form">
		<table class="tbl-tag-filter">
			
			<tr>
				<td class="tag-filter-nav">
					<h2><a href="/home">Home</a> > 
						<a href="/user/caption">Caption</a> > 
						{{ range $idx, $kv := .nav_breadcrumb }}
						{{ range $k, $v := $kv }}
						<a href="/user/caption/{{ $.current_caplang }}/{{ $v }}">{{ $v }}</a>
						{{ end}}
						{{ end}}

						{{ if .file_count }}
						( {{ .file_count }} )
					{{ end}}</h2>
				</td>
				<td class="tag-filter-text">
					<label class="tag-filter-lable"><span title="ID prefix :: keyword_1 & keyword_2 & keyword_3">Search:</span>
						{{ if .current_caplang_en }}
						<input type="radio" name="frmcaplang" id="frmcaplang" value="en" checked> En
						{{ else }}
						<input type="radio" name="frmcaplang" id="frmcaplang" value="en"> En
						{{ end }}
						{{ if .current_caplang_cn }}
						<input type="radio" name="frmcaplang" id="frmcaplang" value="cn" checked> 中文
						{{ else }}
						<input type="radio" name="frmcaplang" id="frmcaplang" value="cn"> 中文
						{{ end }}
						{{ if .current_prefix}}
						<input type="text" name="frmtaglike" id="frmtaglike" value="{{ .current_prefix }}" />
						{{ else }}
						<input type="text" name="frmtaglike" id="frmtaglike" placeholder=":: or .* or &" />
						{{ end }}
						<input type="submit" name="frmtagsubmit" id="frmtagsubmit" value="Submit"></label>
					</td>
				</tr>
			</table>
		</form>

		<table class="bucket-list">
			{{ render "part-files.html" . }}
		</table>
	</div>

	{{ render "footer.html" . }}
