{{ render "header.html" . }}

<div class="buckets">
	
	<form action="{{ .form_action }}" method="POST" enctype="multipart/form-data" class="tag-filter-form">
		<table class="tbl-tag-filter">
			<tr>
				<td class="tag-filter-nav">
					<h2><a href="/home">Home</a> > 
						<a href="/user/caption">Caption</a>
						{{ if .file_count }}
						( {{ .file_count }} )
					{{ end}}</h2>
				</td>
				<td class="tag-filter-text">
					<label class="tag-filter-lable"><span title="ID prefix / keyword_1 & keyword_2 & keyword_3">Keyword:</span>
				<input type="text" name="frmtaglike" id="frmtaglike" placeholder="/ or .* or &" />
				<input type="submit" name="frmtagsubmit" id="frmtagsubmit" value="Submit"></label>
			</td>
			</tr>
		</table>
	</form>
	
	<ul class="tags-list">
		{{ range $k, $v := .nav_tag_list }}
		<li class="tag-item"><a href="/user/caption/{{ $v }}">{{ $v }}</a></li>
		{{ end }}
	</ul>
</div>


{{ render "footer.html" . }}
