<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/assets/favicon.png">
	<link href="/assets/video-js.min.css" rel="stylesheet">
	<script src="/assets/video.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/zstdfs.css">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<div class="navbar">
		{{ if .current_user }}
		<ul class="menu">
			<li>{{ .current_user }}
				{{ if .is_admin }}
				<span title="admin">*</span>
			{{ end }}</li>
			<li>&nbsp;|&nbsp;</li>
			<li><a href="/home">HOME</a></li>
			<li><a href="/user/buckets">Buckets</a></li>			 
			<li><a href="/user/tags">Tags</a> ( <a href="/user/tags/top">Top</a> )</li>
			<li><a href="/user/caption">Caption</a>( TOP: <a href="/user/caption/top/en">EN</a> | <a href="/user/caption/top/cn">CN</a> )</li>
			<li><a href="/static">Static</a></li>					
			<li><a href="/user/playlist">Play</a></li>
			<li><a href="/user/likes/dot-red">Likes</a></li>
			<li>&nbsp;|&nbsp;</li>
			<li><a href="/api/upload/schema.json">UploadSchema</a></li>
			<li><a href="/user/edit">Upload</a></li>
		</ul>

		<ul class="menu">
			<li>Top: </li>
			<li><a href="/user/top/stats_digg_count/200000/9999999999">Digg</a></li>
			<li><a href="/user/top/stats_share_count/50000/9999999999">Repost</a></li>
			<li><a href="/user/top/stats_comment_count/50000/9999999999">Comment</a></li>
			<li><a href="/user/top/stats_collect_count/50000/9999999999">Collect</a></li>
			<li><a href="/user/top/stats_download_count/10000/9999999999">Download</a></li>
			<li>&nbsp;|&nbsp;</li>
			<li><a href="/user/by/is_public/0">non-Public</a></li>
			<li><a href="/user/by/is_ban/1">Banned</a></li>
			<li><a href="/user/samefiles">Same</a></li>
			{{ if .is_admin }}<li><a href="/user/cache">Cache</a></li>{{ end }}
			<li>&nbsp;|&nbsp;</li>			
			<li><a href="/signup">Sign Up</a></li>
			<li><a href="/signin">Login</a></li>
		</ul>
		

		<hr/>
		{{ end }}		
	</div>
	
