{{ render "header.html" . }}

<div class="buckets">
	<h2><a href="/home">Home</a> > 
		<a href="/user/buckets/{{ .current_user }}">{{ .current_user }}</a> > 
		{{ range $idx, $kv := .nav_breadcrumb }}
		{{ range $k, $v := $kv }}
		<a href="/user/buckets/{{ $v }}">{{ $k }}</a> > |
    <a href="/user/buckets/{{ $v }}?is_shuffle=0">降序</a>
		{{ end}}
		{{ end}}

		{{ if .file_count }}
		( {{ .file_count }} )
		{{ end}}

		{{ if .url_play_prefix }}
		<a href="{{ .url_play_prefix }}" title="Play all in this folder" class="btn-play btn-play-big"> PLAY &#9654;</a>
		{{ end}} 

	</h2>
	<table class="bucket-list">
			
			{{ render "part-dirs.html" . }}
			
			{{ render "part-files.html" . }}
	</table>
</div>

{{ render "footer.html" . }}
