{{ render "header.html" .}}

{{ if .isadmin }}

<h2>Stats api</h2>
<ul>
	<li><a href="/_stats/_buckets">Bucket List</a></li>
	<li><a href="/_stats/_meta/">Meta</a></li>
	<li><a href="/_stats/_system/1">_system keys (paged)</a></li>
	<li>/_stats/_groups/{bucket:string}  :  groups of Bucket</li>
	<li>/_stats/_keys/{bucket:string}    :  all keys of Bucket</a></li>
	<li>/_stats/_keys/{bucket:string}/{prefix:string}    :  all keys with prefix of Bucket</li>
	
</ul>

<h2>Delete User:</h2>
<div class="user">
	<form action="/user/delete" method="POST" enctype="multipart/form-data" class="user-form">
		<label class="userdeletename">Name:<input type="text" required pattern="[^_]{1}[a-z0-9\-_\.]{2,64}"  name="userdeletename" id="userdeletename" size="20" minlength="2" maxlength="64"></label>
		<label class="submit"><input type="submit" name="submit" id="submit" value="Delete User"></label>
	</form>
	<hr/>
</div>
{{ else }}
Only Super Admin can access this page.
{{ end }}



{{ render "footer.html" .}}
