{{ define "v1/index.tmpl" }}
<a href="/v1/signin">/v1/signin</a><br/>
<a href="/v1/form-uploads.html">/v1/form-uploads.html</a><br/>
<a href="/v1/meta-sync-list.html">/v1/meta-sync-list.html</a><br/>
<a href="/v1/meta-list.html">/v1/meta-list.html</a><br/>
<a href="/v1/list">/v1/list</a><br/>
<a href="/v1/stats">/v1/stats</a><br/>
<br/>
<br/>
<a href="//127.0.0.1:8874/v1">//127.0.0.1:8874/v1</a><br/>
<a href="//127.0.0.1:7759/v1">//127.0.0.1:7759/v1</a><br/>
<a href="//127.0.0.1:6646/v1">//127.0.0.1:6646/v1</a><br/>

{{ end }}