{{ render "header.html" . }}

	<div class="buckets">
		<h2><a href="/home">Home</a> > 
			<a href="/user/buckets/{{ .current_user }}">{{ .current_user }}</a>
		</h2>
		<table class="bucket-list">
			{{ range $k, $kv := .nav_dir_list }}
		<tr class="item item-dir">
			<td class="dot-col dot-col-dir">&#9679;</td>
			<td class="item-keyname"><a href="/user/buckets/{{ $kv.uri }}">{{ $k }}</a></td>
			<td class="meta meta-tags"> </td>
			<td class="meta meta-size"> </td>
			<td class="meta meta-mtime"> </td>
			<td class="meta meta-statistics"> </td>
			<td class="meta meta-action"> </td>
		</tr>
			{{ end }}
			{{ range $k, $kv := .nav_file_list }}
			<tr class="item item-file">
				<td class="dot-col dot-col-file {{ .dot_color }}">&#9679;</td>
				<td class="item-keyname"><a href="/f/{{ $kv.uri }}">{{ $k }}</a></td>
			<td class="meta meta-tags">
				{{ if $kv.tags }}
				<ul class="tags">
					{{ range $k,$v := $kv.tags }}
					<li class="item-tag"><a href="/user/tags/{{ $v }}">{{ $v }}</a></li>
					{{ end }}
				</ul>
				{{ end }}
			</td>
			<td class="meta meta-size">{{ $kv.size }}</td>
			<td class="meta meta-mtime">{{ $kv.mtime }}</td>
			<td class="meta meta-statistics">
				{{ if $kv.statistics }}
				<table class="statistics mute-text">
					<tr>
						{{ range $km,$vn := $kv.statistics }}
						<td class="no-border" title="{{$vn}}">{{$km}}</td>					
						{{ end }}
					</tr>
					<tr class="no-border">
						{{ range $km,$vn := $kv.statistics }}
						<td class="no-border" title="{{$km}}">{{$vn}}</td>					
						{{ end }}
					</tr>
				</table>
				{{ end }}
			</td>
			<td class="meta meta-action">
				<a href="/f/{{ $kv.uri }}" download title="Download" class="btn-download">&#9660;</a>
				{{ if $kv.is_video }}
				| <a href="/play/v/{{ $kv.uri }}" title="Play" class="btn-play">&#9654;</a>
				{{ end }}
				
			</td>
			</tr>
			{{ end }}
		</table>
	</div>

{{ render "footer.html" . }}
